#collection {
    float: left;
    width: 60%;
}

#alphaNav {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

#alphaNav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#alphaNav li {
    width: 20px;
	height: 20px;
	border: 1px solid #aaa;
	cursor: pointer;
	text-align: center;
}

#listingContainer {
}

#collectionNav {
    height: 3%;
}
#collectionNav ul {
    padding: 0;
}

#collectionNav li {
    list-style-type: none;
    display: inline;
}

#collectionNav li:before, #collectionNav li:after {
    content: " | ";
}

#listHeader {
    height: 3%;
    font-weight: bold;
}

#listing {
    height: 93%;
    overflow-y: auto;
}

.dirs, .files {
	list-style-type: none;
}
