/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html, div, span {
    vertical-align:baseline
}

body { 
    margin:5px; 
    height:100%; 
}

ol, ul {
    list-style:none;
}

.clear {
    clear:both;
}

img {
    border:0;
}

#main-left {
    float:left;
    width:40%;
    height:100%;
}

#main-right {
    float:right;
    width:60%;
    height:100%;
}

.list .item-odd {
    background-color:lightgray;
}

/***********************************************************************************/
/*                                 PLAYER STYLES                                   */
/***********************************************************************************/
#menubar {
    float:left;
    width:100%;
}

.player-menu {
    border:1px gray dashed;
    float:left;
    width:32.5%;
    text-align:center;
    height:1.5em;
    vertical-align:middle;
}

#marquee {
    background-color:lightblue;
    border:medium double #fff;
    width:100%;
    height:2.5em;
    text-align:center;
    font-weight:bold;
    float:left;
}

#player-wrapper {
    width:100%;
    float:left;
}

#player-actions {
    float:left;
    display:inline;
    padding:0;
    text-align:right;
    background-color:transparent;
    width:10%;
}

.player-button {
    padding:0;
    margin:0;
    width:20px;
    height:20px;
}

#swfplayer {
    float:left;
    display:inline;
    width:90%;
}

/***********************************************************************************/
/*                                PLAYLIST STYLES                                  */
/***********************************************************************************/
#saved-playlists-container {
    border:1px solid #aaa;
    width:100%;
    float:left;
}

#saved-playlists-actions {
    width:100%;
    float:left;
}

#saved-playlists-actions .left, #saved-playlists-actions .right {
    width:50%;
}

#saved-playlists-actions .left {
    float:left;
}

#saved-playlists-actions .right {
    float:right;
    text-align:right;
}

#saved-playlists {
    float:left;
    overflow-y:scroll;
    width:100%;
    height:4em;
}
    
#saved-playlists .list {
    padding:1px;
    margin:1px;
}

#saved-playlists .list li .desc {
    float:left
}

#saved-playlists .list li .actions {
    float:right;
    font-size:.75em
}

.now-playing {
    background-color:yellow;
    border:medium double #fff;
}

#playlist {
    float:left;
    overflow-y:auto;
    height:80%;
}

#playlist .items {
    padding:1px;
    margin:1px;
}

/* current playlist & items */
.playlist-item {
    border:1px solid #aaa;
    padding:2px;
    margin:3px;
}

.playlist-item .content {
    cursor:pointer;
    float:left;
}

.playlist-item .remove {
    text-align:right;
    float:right;
}

.playlist-item .album, #marquee .album {
    font-style:italic;
    display:block;
}

#playlist {
    width:100%;
}

/***********************************************************************************/
/*                               COLLECTION STYLES                                 */
/***********************************************************************************/
#alphaNav {
    float:left;
    margin-left:1em;
    margin-right:1em;
}

#alphaNav ul {
    padding:0;
    margin:0;
}

#alphaNav ul li {
    width:20px;
    height:20px;
    border:1px solid #aaa;
    cursor:pointer;
    text-align:center;
}

#collectionNav ul {
    padding:0;
}

#collectionNav li {
    display:inline;
}

#collectionNav li:before, #collectionNav li:after {
    content:" | ";
}

#listHeader {
    font-weight:bold;
}

#listing {
    height:90%;
    overflow-y:auto;
}
