.light_bg
{
	background-color: lightgray
}

.fleft
{
	float: left
}

.fright
{
	float: right
}

.now_playing
{
	background-color: yellow;
	border: medium double #fff;
}

#playlist .items
{
	list-style-type: none;
	padding: 1;
	margin: 1;
}

#playlist
{
	overflow-y: auto;
	height: 80%;
}

/* current playlist & items */
.playlist_item
{
	border: 1px solid #aaa;
	padding: 2px;
	margin: 3px;
}

.playlist_item .content
{
	cursor: pointer;
	float: left;
	width: 95%;
}

.playlist_item .remove
{
	float: right;
}

.artist
{
}

.title
{
}

.album
{
	font-style: italic;
	display: block;
}

/* saved playlists & items */
#saved_playlists_container
{
	border: 1px solid #aaa;
}

#saved_playlists_actions .left
{
	float: left;
}

#saved_playlists_actions .right
{
	float: right;
}

#saved_playlists
{
	overflow-y: auto;
	height: 7em
}
	
#saved_playlists .list
{
	width: 100%
	list-style-type: none;
	padding: 1px;
	margin: 1px;
}

#saved_playlists .list .item
{
	width: 100%
}

#saved_playlists .list .item .desc
{
	float: left
}

#saved_playlists .list .item .actions
{
	float: right;
	font-size: .75em
}
