/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    overflow:hidden;
    padding:5px;
    width:100%;
    font-family: arial, sans-serif;
}
ol,
ul {
    list-style:none;
    margin:0;
    padding-left:3px;
}
img {
    border:0;
}
.clear {
    clear:both;
}
.list .item-odd {
    background-color:lightgray;
}
.wait {
    background:url("../images/wait30trans.gif") no-repeat;
    height:50%;
    text-align:center;
}
.dimmed {
    filter:alpha(opacity=40);
    opacity:0.4;
}
/***********************************************************************************/
/*                             SPECIFIC STYLES                                     */
/***********************************************************************************/
#marquee {
    border-top:thin #009be3 solid;
    bottom:0;
    float:left;
    font-size:.72em;
    font-style:italic;
    font-weight:bold;
    overflow:hidden;
    padding:0 5px;
    position:absolute;
    width:99%;
}
#selectors {
    margin:5px 0;
    width:99%;
}
#artist-selector, #album-selector {
    border:thin #009be3 solid;
    display:inline-table;
    overflow:hidden;
    width:49.75%;
}
#album-selector {
    float:right;
}
#artist-selector .header, #album-selector .header {
    background-color:lightgray;
}
#artists-list, #albums-list {
    height:15em;
    overflow-y:auto;
}
#collection {
    border:thin #009be3 solid;
    height:60%;
    overflow-y:auto;
    width:99%;
}
#entries {
    width:100%;
}
#entries th {
    border-bottom:thin #009be3 solid;
    text-align:left;
}
#entries .track {
    width:3%;
}
#entries td {
    width:31%;
}
#entries .track {
    width:4%;
}
.entry {
    font-size:0.9em;
    vertical-align:middle;
    width:100%;
}
.entry a {
    text-decoration:none;
}
.entry .play img {
    position:relative;
    margin: 0 5px;
    top: 2px;
}
.now-playing {
    background-color:lightblue;
}
