/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html {
	height:100%;
}
body {
	margin:0;
	padding:0;
    height:100%;
    width:99%;
    overflow:hidden;
}
ol,
ul {
	padding:0 0 0 3px;
    list-style:none;
    margin:0;
}
img {
    border:0;
}
.clear {
    clear:both;
}
.list .item-odd {
    background-color:lightgray;
}
.wait {
	height:50%;
	text-align:center;
	background:url("../images/wait30trans.gif") no-repeat;
}
#top {
	margin:5px;
    width:100%;
    height:195px;
}
#middle {
	margin:5px;
	width:100%;
	height:auto;
}
#bottom {
	margin: 5px;
	width:100%;
	height:50%;
}
.dimmed {
    opacity:0.4;
    filter:alpha(opacity=40);
}
/***********************************************************************************/
/*                             SPECIFIC STYLES                                     */
/***********************************************************************************/
.jp-playlist-player {
	width:49.7%;
}
#jplayer_playlist {
	float:left;
	border:thin #009be3 solid; 
	background-color: white;
	overflow-x:hidden;
	overflow-y:auto;
	height:100%;
	width:49.7%;
}
#jplayer_playlist ul {
	height:100%;
	font-size:0.9em;
	width:100%;
}
#marquee {
	width:100%;
	overflow:hidden;
	font-size:.72em;
}
#selectors {
	float:left;
	position:relative;
	width:100%;
}
#artist-selector, #album-selector {
	border:thin #009be3 solid;
	display:inline-table;
	overflow:hidden;
	position:relative;
	width: 49.7%;
}
#artists-list, #albums-list {
	height:15em;
	overflow-y:auto;
}
#artist-selector .header, #album-selector .header {
	background-color:lightgray;
}
#collection {
	width:100%;
	height:100%;
	overflow-y:auto;
}
.entry {
	font-size:0.9em;
	width:100%;
}
.now-playing {
	background-color:lightblue;
}