/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html {
	height:100%;
}
body {
	margin:0;
	padding:0;
    height:100%;
    width:99%;
    overflow:hidden;
}
ol,
ul {
	padding:0 0 0 3px;
    list-style:none;
    margin:0;
}
img {
    border:0;
}
.clear {
    clear:both;
}
.list .item-odd {
    background-color:lightgray;
}
.wait {
	height:50%;
	text-align:center;
}
#top {
	margin:5px;
    width:100%;
}
#middle {
	margin:5px;
	width:100%;
    clear:left;
    float:left;
}
#bottom {
	margin: 5px;
	width:100%;
	height:53%;
}
/***********************************************************************************/
/*                                 PLAYER STYLES                                   */
/***********************************************************************************/
.dimmed {
    opacity:0.4;
    filter:alpha(opacity=40);
}
/***********************************************************************************/
/*                           COLLECTION STYLES                                     */
/***********************************************************************************/
#marquee {
	overflow:hidden
}
#selectors {
	float:left;
	position:relative;
	width:100%;
}
#artist-selector, #album-selector {
	border:thin black solid;
	float:left;
	overflow:hidden;
	position:relative;
	width: 49.7%;
}
#album-selector {
	float: right;
}
#artists-list, #albums-list {
	height:9em;
	overflow-y:auto;
}
#artist-selector > .header, #album-selector > .header {
	background-color:lightgray;
}
#collection {
	width:100%;
	height:100%;
	overflow-y:auto;
}
.entry {
	font-size:0.9em;
	width: 100%;
}
.now-playing {
	background-color: yellow;
}