/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
* {
    margin: 0;
    padding: 0;
}
html,
div,
span {
    vertical-align: baseline
}

body {
    padding: 5px;
    height: 100%;
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
}

#main-left {
    float: left;
    width: 40%;
    height: 100%;
}

#main-right {
    float: left;
    width: 60%;
    height: 100%;
}

.clear {
    clear: both;
}

.list .item-odd {
    background-color: lightgray;
}

/***********************************************************************************/
/*                                 PLAYER STYLES                                   */
/***********************************************************************************/
#menubar {
    width: 100%;
}

.player-menu {
    border: 1px gray dashed;
    width: 32%;
    display: inline-block;
    text-align: center;
    height: 1.5em;
    vertical-align: middle;
}

#marquee {
    background-color: lightblue;
    border: medium double #fff;
    width: 100%;
    height: 2.5em;
    text-align: center;
    font-weight: bold;
}

#player-wrapper {
    width: 100%;
}

#player-actions {
    display: inline;
    text-align: right;
    background-color: transparent;
    width: 10%;
}

.player-button {
    width: 20px;
    height: 20px;
}

#swfplayer {
    display: inline;
    width: 90%;
}

.dimmed {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/***********************************************************************************/
/*                           COLLECTION STYLES                                     */
/***********************************************************************************/
#entries .entry {
	width: 100%;
}

.add-entry-button {
	float: right;
	display: inline;
}

#artist-selector {
	border: thin black solid;
	width: 49.5%;
	display: inline-block;
}

#album-selector {
	border: thin black solid;
	width: 49.5%;
	float: right;
	display: inline-block;
}
