<ul class='items'>
{for i in items}
<li id='playlist-item-${i_index}' class='playlist-item'>
    <div onclick="Player.controls.play('${i_index}')" class='content'>
        <span class="artist">${i.artist}</span> - <span class="title">${i.title}</span>
        <span class="album">${i.album}</span>
    </div>
    <div class='remove'>
        <a href='#' onclick="Playlist.removeItem('${i_index}')">X</a>
    </div>
    <div class='clear'></div>
</li>
{forelse}
<div>Click through the collection and add some songs!</div>
{/for}
</ul>
