<% if !@entries.blank? %>
  <ul class="entries">
    <%
    @entries.each do |entry|
      name = entry[0]
      count = entry[1]
    %>
      <li class="entry">
        <%= link_to("#{name} (#{count})",
          "#findBy[#{@type}]=#{u(name)}&update=#collection",
          title: t("#{@type}_findby", name: name)) %>
      </li>
    <% end %>
  </ul>
<% end %>
