<% if !@entries.blank? %>
<ul class="entries">
    <%
    @entries.each do |entry|
        name = entry[0]
        count = entry[1]
        onclick = remote_function(:controller => 'entry', :action => 'find_all_by', :update => '#collection', :params => {'type' => @type, @type => name})
        title = t("#{@type}_findby", :name => name)
    %>
    <li class="entry">
      <%= link_to_function("#{name} (#{count})", :title => title, :onclick => onclick) %>
    </li>
    <% end %>
</ul>
<% end %>
