/***********************************************************************************/
/*                                GENERAL STYLES                                   */
/***********************************************************************************/
html,
div,
span {
    vertical-align:baseline
}

body {
    margin:0;
    padding:5px;
    height:100%;
    overflow:hidden;
}

ol,
ul {
    list-style:none;
}

img {
    border:0;
}

#main-left {
    float:left;
    width:40%;
    height:100%;
}

#main-right {
    float:left;
    width:60%;
    height:100%;
}

.clear {
    clear:both;
}

.list .item-odd {
    background-color:lightgray;
}

/***********************************************************************************/
/*                                 PLAYER STYLES                                   */
/***********************************************************************************/
#menubar {
    float:left;
    width:100%;
}

.player-menu {
    border:1px gray dashed;
    float:left;
    width:32.5%;
    text-align:center;
    height:1.5em;
    vertical-align:middle;
}

#marquee {
    background-color:lightblue;
    border:medium double #fff;
    width:100%;
    height:2.5em;
    text-align:center;
    font-weight:bold;
    float:left;
}

#player-wrapper {
    width:100%;
    float:left;
}

#player-actions {
    float:left;
    display:inline;
    padding:0;
    text-align:right;
    background-color:transparent;
    width:10%;
}

.player-button {
    padding:0;
    margin:0;
    width:20px;
    height:20px;
}

#swfplayer {
    float:left;
    display:inline;
    width:90%;
}

/***********************************************************************************/
/*                                PLAYLIST STYLES                                  */
/***********************************************************************************/
#saved-playlists-container {
    border:1px solid #aaa;
    width:100%;
    float:left;
}

#saved-playlists-actions {
    width:100%;
    float:left;
}

#saved-playlists-actions .left {
    float:left;
}

#saved-playlists-actions .right {
    float:right;
    text-align:right;
}

#saved-playlists {
    display:none;
    float:left;
    overflow-y:scroll;
    width:100%;
    height:4em;
}
    
#saved-playlists .list {
    padding:1px;
    margin:1px;
}

#saved-playlists .list li .desc {
    float:left
}

#saved-playlists .list li .actions {
    float:right;
    font-size:.75em
}

#playlist {
    float:left;
    overflow-y:auto;
    height:75%;
    width:100%;
}

#playlist .items {
    padding:1px;
    margin:1px;
}

.now-playing {
    background-color:yellow;
    border:medium double #fff;
}

.playlist-item {
    border:1px solid #aaa;
    padding:2px;
    margin:3px;
}

.playlist-item .controls {
    float:left;
}

.playlist-item .content {
    cursor:pointer;
    float:left;
}

.playlist-item .remove {
    text-align:right;
    float:right;
}

.playlist-item .album,
#marquee .album {
    font-style:italic;
    display:block;
}

/***********************************************************************************/
/*                               COLLECTION STYLES                                 */
/***********************************************************************************/
#alpha-nav {
    float:left;
    margin:0 .75em 0 .75em;
}

#alpha-nav ul {
    padding:0;
    margin:0;
}

#alpha-nav ul li {
    width:20px;
    height:20px;
    border:1px solid #aaa;
    text-align:center;
}

#collection-container {
    height:100%;
    width:92%;
    float:left;
}

#collection-header {
    float:left;
    width:100%;
    font-weight:bold;
}

#collection-nav {
    width:100%;
    float:left;
}

#collection-nav ul {
    padding:.5em 0 .5em 0;
    margin:0;
}

#collection-nav li {
    display:inline;
}

#collection-nav li:before,
#collection-nav li:after {
    content:" | ";
}

#collection {
    height:98%;
    width:100%;
    overflow-y:auto;
    margin:0;
}

#collection .dirs {
    padding:.5em 0 .5em .5em;
    margin:0;
    width:100%;
}

#collection .files {
    margin:0;
    padding:.5em 0 .5em 1.5em;
    width:100%;
}
